<!doctype html>
<title>The Security Panda</title>
<html>
  <body>
    <h1>The Security Panda</h1>
    <h4>{% if is_armed %}Armed{% else %}Disarmed{% endif %}</h4>

    <div>
      <img src="{{ url_for('image') }}?{{ random_querystring }}" alt="What the Panda sees"/>
    </div>

    <div>
      {% if is_armed %}
      <a href="{{ url_for('disarm') }}">Disarm</a>
      {% else %}
      <a href="{{ url_for('arm') }}">Arm</a>
      {% endif %}
    </div>

    <div>
      <h3>Images</h3>
      {% for folder in images_folders %}<div>
	<p><a href="{{ url_for('stored_images', folder=folder) }}">{{ folder }}</a></p>
      </div>{% endfor %}
    </div>

    <div>
      <a href="{{ url_for('simulate_opened')}}">Simulate window open</a>
    </div>
    
  </body>
</html>
