<!doctype html>
<title>The Security Panda</title>
<html>
  <body>
    <h1>The Security Panda</h1>
    <h4>{% if is_armed %}Armed{% else %}Disarmed{% endif %}</h4>

    <div>
      <img src="{{ url_for('image') }}?{{ random_querystring }}" alt="What the Panda sees"/>
    </div>

    <div>
      {% if is_armed %}
      <a href="{{ url_for('disarm') }}">Disarm</a>
      {% else %}
      <a href="{{ url_for('arm') }}">Arm</a>
      {% endif %}
    </div>

    <div>
      <h3>Images</h3>
      {% for folder, image_files in stored_images.items() %}<div>
	<p>{{ folder }}:{% for img_file, file_number in image_files %} <a href="{{ url_for('stored_image', folder=folder, image_id=file_number)}}">{{ file_number }}</a>{% endfor %}</p>
      </div>{% endfor %}
    </div>

    <div>
      <a href="{{ url_for('simulate_opened')}}">Simulate window open</a>
    </div>
    
  </body>
</html>
